<h1>Borerom Strikes Again</h1>

<div>
  <input
    type="number"
    name="minPrice"
    id="minPrice"
    min="0"
    max="1"
    placeholder="Min. price"
    step="0.1"
  />
  <input
    type="number"
    name="maxPrice"
    id="maxPrice"
    min="0"
    max="1"
    placeholder="Max. price"
    step="0.1"
  />
  <input
    type="number"
    name="participants"
    id="participants"
    min="0"
    max="10"
    placeholder="# of participants"
  />
  <input type="text" name="type" id="type" placeholder="Activity type" />
</div>

<button (click)="getActivity()">Get activity</button>

<p *ngIf="loading">Loading...</p>

<h2 *ngIf="!loading && activity">Activity: {{ activity.activity }}</h2>
<h3 *ngIf="!loading">Type: {{ activity.type }}</h3>
<p *ngIf="!loading">Participants: {{ activity.participants }}</p>
<p *ngIf="!loading">Price: {{ activity.price }}</p>
